[submodule "frontend"]
	path = frontend
	url = git@github.com:strawhattom/secure-web-dev-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:strawhattom/secure-web-dev-backend.git
